[submodule "meta-agl"]
	path = meta-agl
	url = https://github.com/iotbzh/meta-agl.git
	branch = 96e920d213ad449590995cab195675a2b9e8441d
[submodule "meta-agl-demo"]
	path = meta-agl-demo
	url = https://github.com/iotbzh/meta-agl-demo.git
	branch = d272cfddde1bffa2b31cb5af382198e300d3a619
[submodule "meta-renesas"]
	path = meta-renesas
	url = https://github.com/iotbzh/meta-renesas.git
	branch = 8901cab884f9e4431781ca42291579cffc092b47
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = df87cb27efeaea1455f20692f9f1397c6fcab254
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = 9efaed99125b1c4324663d9a1b2d3319c74e7278
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = dizzy
