[submodule "meta-agl"]
	path = meta-agl
	url = https://github.com/iotbzh/meta-agl.git
	branch = 6e22b075ed57a0fb3ed5af68e029c291adc309d5
[submodule "meta-agl-demo"]
	path = meta-agl-demo
	url = https://github.com/iotbzh/meta-agl-demo.git
	branch = 82bbfca7b7089ad98cf140dcbdc6a8cadb9e8917
[submodule "meta-renesas"]
	path = meta-renesas
	url = https://github.com/iotbzh/meta-renesas.git
	branch = ede19ea0c47fb23f3fc779833d1e57cf76f3371e
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = df87cb27efeaea1455f20692f9f1397c6fcab254
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = 9efaed99125b1c4324663d9a1b2d3319c74e7278
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5
	branch = dizzy
